* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1a0327;
    font-family: 'Poppins', sans-serif;
    height: 150vh;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/b11.jpg);
    background-size: cover;
    background-position: center;
}

header {
    width: 100%;
    height: 15vh; /* Tăng chiều cao của header */
    background: rgba(6, 6, 6, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 300px;
    height: 14vh; /* Đặt chiều cao của logo bằng chiều cao của header */
    background: #550381;
    display: flex;
    align-items: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
    margin-left: -15px; /* Di chuyển background sang trái 5px */
}



.logo .fas {
    font-size: 50px;
}

.logo p {
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}

ul.navbar {
    display: flex;
    list-style: none;

}

ul.navbar li {
    width: 140px;
    margin-left: 100px;
}

ul.navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

ul.navbar li a.active {
    color: #fec53a;
}

ul.navbar li a:hover:not(.active) {
    color: #fec53a;
}

#btn .fas {
    margin-right: 10px;
}

/* Header ends here */
.content-wrapper {
    width: 80%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}

.content-desc h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.content-desc p {
    width: 550px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 10px;
}

.content-desc span {
    color: #fec53a;
}

#btn-2 {
    width: 350px;
    height: 10vh;
    padding-left: 20px;
    outline: none;
    border: none;
    background: #fec53a;
    font-size: 1.rem;
    font-weight: bold;
    margin-top: 15px;
    clip-path: polygon(0 0, 51% 0, 77% 100%, 0% 100%);
    border-radius: 20px;
    text-align: left;
}

.rakuto {
    width: 400px;
    height: 400px;
    background: linear-gradient(rgba(38, 2, 39, 0.849), rgba(204, 115, 14));
    position: relative;
}

.rakuto::after {
    content: '';
    width: 600px;
    height: 400px;
    background: url(/images/characters.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: -150px
}

/* Hero section ands here */
.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.logo-section h1 {
    width: 250px;
    font-size: 2rem;
    color: #fec53a;
    margin-left: 10px;
}

.logo-section .fas {
    font-size: 6rem;
    color: #fec53a;
}

/* logo section ends here */

footer {
    width: 100%;
    height: 30vh;
    background: #282828;
    display: flex;
    align-items: center;
    position: relative;
}

.footer-body {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

ul h3 {
    color: #fff;
    font-weight: 450;
}

ul li {
    list-style: none;
    line-height: 2.5rem;
}

ul li a .fab {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #fec53a;
    margin-right: 10px
}

ul li a {
    text-decoration: none;
    color: #fff;
}

ul li a:hover {
    color: #fec53a;
}

.footer-logo h1 {
    margin-top: 25px; /* Hoặc bất kỳ giá trị nào bạn muốn */
}
