<!DOCTYPE html>
<html>

<head>
 
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel='stylesheet' href="/stylesheets/Loginccs.css" />
  <link rel="stylesheet" href="/stylesheets/styleIndex.css">



  <link rel="stylesheet" href="/stylesheets/User.css">
  <link rel="stylesheet" href="/stylesheets/register.css">.
  <link rel="stylesheet" href="/stylesheets/ResetOTP.css">


</head>

<body>
  {{{body}}}
  <link rel="stylesheet" href="/javascripts/java.js">
 

</body>

</html>